@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: hsl(var(--muted-foreground));
  --color-card: hsl(var(--card));
  --color-card-foreground: hsl(var(--card-foreground));
  --color-primary: hsl(var(--primary));
  --color-primary-hover: hsl(var(--primary-hover));

  --color-popover: var(--color--card);
  --color-popover-foreground: var(--color--card-foreground);

  --color-border: var(--color-muted);
  --color-input: hsl(var(--input));

  --color-secondary: var(--color-muted);
  --color-secondary-foreground: var(--color-muted-foreground);
  --color-accent: var(--color-muted);
  --color-accent-foreground: var(--color-muted-foreground);
  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));
  --color-ring: hsl(var(--ring));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);
}

@layer base {
  :root {
    --background: #0f0f11;
    --foreground: #e5e5e5;
    --muted: #a1a1aa;
    --muted-foreground: 220 12% 72%;
    --card: #18181b;
    --card-foreground: 219 14% 76%;
    --input: 220 3% 26%;
    --primary: #7f1d1d;
    --primary-hover: #991b1b;
    --accent: 220 13% 33%;
    --accent-foreground: 220 13% 93%;
    --destructive: 3 84% 47%;
    --destructive-foreground: 0 0% 100%;
    --ring: 220 15% 81%;
    --radius: 0.5rem;
  }

  body {
    @apply bg-background text-foreground;
  }

  main {
    margin: 0 auto;
    max-width: 1440px;
  }

  section {
    @apply px-6;
    @apply sm:px-12;
  }

  .custom-scrollbar::-webkit-scrollbar {
    width: 6px;
  }

  .custom-scrollbar::-webkit-scrollbar-track {
    background: transparent;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb {
    background-color: hsl(var(--accent-dark));
    border-radius: 9999px;
  }

  .custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background-color: hsl(var(--accent-foreground));
  }

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }

  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@layer components {
  .container {
    margin-inline: auto;
    padding-inline: 2rem;
    max-width: 1400px;
  }
}

@layer utilities {
  .error-message {
    @apply text-destructive text-xs;
    @apply md:text-sm;
  }

  .info-message {
    @apply italic text-accent text-center;
  }

  .table-button {
    @apply text-xs px-3;
  }

  .input-label {
    @apply text-xs text-right;
    @apply sm:text-sm;
  }

  .search-media-card {
    display: grid;
    grid-template-areas:
      "cover header"
      "details details";
    grid-template-columns: auto 1fr;
  }
  .card-cover {
    grid-area: cover;
  }
  .card-header {
    grid-area: header;
  }
  .card-details {
    grid-area: details;
  }

  @media (min-width: 640px) {
    .search-media-card {
      grid-template-areas:
        "header header"
        "cover details";
    }
  }

  .animate-accordion-down {
    animation: accordion-down 0.2s ease-out;
  }
  .animate-accordion-up {
    animation: accordion-up 0.2s ease-out;
  }
}
